header {
    background-color: #000000;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

div.recipe {
    width: 50%;
    margin: auto;
    padding: 0px;
}

div.recipe > img {
    margin: auto;
    width: 100%;
    padding-top: 5px;
}

footer {
    background-color: #650119;
    color: #F1E8EA;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#demo {
    width: 100%;
    margin: auto;
}

#hello {
    background-color: #B1B8BC;
    color: white;
    width: 60%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    border-radius: 12px;
}

#toForm {
    color: #650119;
}

#formHead {
    text-align: center;
    color: #650119;
}

#form {
    background-color: #B1B8BC;
    margin: auto;
    padding: 10px;
    border: #B1B8BC;
    border-radius: 12px;

}

#form > input {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

#form > * {
    flex: 1 1 150px;
}

input {
    border-radius: 12px;
}