/*body{background-color:lightgrey;}*/


h2 {
  /*display: block;
  text-decoration: none;
  color: #650119;*/
  padding: 8px 16px;
  height:5vh;
}
button {
    background-color: #B1B8BC;
    color:black;
}

#app {
    margin: auto;
    /*width: 800px;
    padding: 0;*/
    text-align: center;
}