body{background-color:lightgrey;}


h2 {
  display: block;
  color: #650119;
  padding: 8px 16px;
  text-decoration: none;
  height:5vh;
}
button {
    background-color: grey;
    color:black;
}

#app {
    margin: auto;
    width: 800px;
    padding: 0;
    text-align: center;
}