nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 100px;*/
  background-color: #650119;
  /*height: 100%;
  position: fixed;*/
  overflow: auto;
}

nav li a {
  display: block;
  color: #F1E8EA;
  padding: 8px 16px;
  text-decoration: none;
  height:5vh;
  }
nav ul {
  border: 1px solid #000000;
}

nav li {
  text-align: center;
  border-bottom: 1px solid #000000;
}

nav li a:active {
  color: #000000;
}

/*li:last-child {*/
/*  border-bottom: none;*/
/*}*/
nav li a:hover {
  background-color: #B1B8BC;
  color: black;
}

 nav li.current {
  background-color: #B1B8BC;
}
 nav a.current {
   color: black;
 }

nav li {
  display: inline;
  float: left;
  width: 14.285714%;
}

